In [ ]:
import pandas as pd
import numpy as np

data = "../data/"

In [ ]:
#covid = pd.read_csv("https://srhdpeuwpubsa.blob.core.windows.net/whdh/COVID/WHO-COVID-19-global-data.csv")

In [48]:
# Latest reported counts of COVID-19 cases and deaths
# Updated weekly
covid = pd.read_csv(data+"covid-19cases.csv")

In [50]:
covid.tail(15)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
170984,2025-09-22,TR,Türkiye,EUR,1.0,17004724,NaN,101419
170985,2025-09-22,UG,Uganda,AFR,2.0,172217,NaN,3632
170986,2025-09-23,UY,Uruguay,AMR,11.0,1042913,0.0,7695
170987,2025-09-23,LC,Saint Lucia,AMR,3.0,30253,0.0,410
170988,2025-09-23,JM,Jamaica,AMR,2.0,157651,0.0,3634
170989,2025-09-23,SV,El Salvador,AMR,2.0,202066,NaN,4230
170990,2025-09-23,HT,Haiti,AMR,1.0,34901,0.0,860
170991,2025-09-23,GT,Guatemala,AMR,130.0,1254468,0.0,20205
170992,2025-09-23,AR,Argentina,AMR,97.0,10115219,NaN,130790
170993,2025-09-23,CL,Chile,AMR,1.0,5410189,0.0,62875
170994,2025-09-23,CO,Colombia,AMR,159.0,6401281,1.0,142791
170995,2025-09-23,BB,Barbados,AMR,6.0,109082,NaN,593
170996,2025-09-23,BR,Brazil,AMR,7062.0,37837183,9.0,703324
170997,2025-09-27,TH,Thailand,SEAR,653.0,5418524,NaN,34992
170998,2025-09-27,NP,Nepal,SEAR,4.0,1003943,NaN,12034

In [51]:
print(covid['Date_reported'].min(), covid['Date_reported'].max())

2020-01-04 2025-09-27

In [53]:
# elimina las filas que contengan: NaN en New_cases o New_deaths o que tengan  0 en New_cases o New_deaths
covid = covid.dropna(subset=['New_cases'])
# elimina filas que tengan 0.0 en New_cases
covid = covid[covid['New_cases'] != 0]

In [54]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170999 entries, 0 to 170998
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      170999 non-null  object
 1   Country_code       170101 non-null  object
 2   Country            170999 non-null  object
 3   WHO_region         170999 non-null  object
 4   New_cases          170999 non-null  float64
 5   Cumulative_cases   170999 non-null  int64
 6   New_deaths         114024 non-null  float64
 7   Cumulative_deaths  170999 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 10.4+ MB

In [55]:
covid.tail(5)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
170994,2025-09-23,CO,Colombia,AMR,159.0,6401281,1.0,142791
170995,2025-09-23,BB,Barbados,AMR,6.0,109082,NaN,593
170996,2025-09-23,BR,Brazil,AMR,7062.0,37837183,9.0,703324
170997,2025-09-27,TH,Thailand,SEAR,653.0,5418524,NaN,34992
170998,2025-09-27,NP,Nepal,SEAR,4.0,1003943,NaN,12034