In [ ]:
import pandas as pd
import numpy as np

data = "../data/"

In [ ]:
covid = pd.read_csv("https://srhdpeuwpubsa.blob.core.windows.net/whdh/COVID/WHO-COVID-19-global-data.csv")

In [ ]:
import requests
import io
import certifi
import warnings
from urllib3.exceptions import InsecureRequestWarning

# Latest reported counts of COVID-19 cases and deaths
# Updated weekly
covid = pd.read_csv(data+"covid-19cases.csv")

In [44]:
covid.tail(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
501504,2025-09-23,SV,El Salvador,AMR,2.0,202066,NaN,4230
501510,2025-09-23,HT,Haiti,AMR,1.0,34901,0.0,860
501518,2025-09-23,GT,Guatemala,AMR,130.0,1254468,0.0,20205
501568,2025-09-23,AR,Argentina,AMR,97.0,10115219,NaN,130790
501574,2025-09-23,CL,Chile,AMR,1.0,5410189,0.0,62875
501583,2025-09-23,CO,Colombia,AMR,159.0,6401281,1.0,142791
501589,2025-09-23,BB,Barbados,AMR,6.0,109082,NaN,593
501591,2025-09-23,BR,Brazil,AMR,7062.0,37837183,9.0,703324
502343,2025-09-27,TH,Thailand,SEAR,653.0,5418524,NaN,34992
502418,2025-09-27,NP,Nepal,SEAR,4.0,1003943,NaN,12034

In [37]:
print(covid['Date_reported'].min(), covid['Date_reported'].max())

2020-01-04 2025-09-28

In [41]:
# elimina las filas que contengan: NaN en New_cases o New_deaths o que tengan  0 en New_cases o New_deaths
covid = covid.dropna(subset=['New_cases'])
# elimina filas que tengan 0.0 en New_cases
covid = covid[covid['New_cases'] != 0]

In [42]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170999 entries, 38 to 502418
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      170999 non-null  object
 1   Country_code       170101 non-null  object
 2   Country            170999 non-null  object
 3   WHO_region         170999 non-null  object
 4   New_cases          170999 non-null  float64
 5   Cumulative_cases   170999 non-null  int64
 6   New_deaths         114024 non-null  float64
 7   Cumulative_deaths  170999 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 11.7+ MB

In [46]:
covid.tail(15)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
501342,2025-09-22,TR,Türkiye,EUR,1.0,17004724,NaN,101419
501348,2025-09-22,UG,Uganda,AFR,2.0,172217,NaN,3632
501376,2025-09-23,UY,Uruguay,AMR,11.0,1042913,0.0,7695
501416,2025-09-23,LC,Saint Lucia,AMR,3.0,30253,0.0,410
501502,2025-09-23,JM,Jamaica,AMR,2.0,157651,0.0,3634
501504,2025-09-23,SV,El Salvador,AMR,2.0,202066,NaN,4230
501510,2025-09-23,HT,Haiti,AMR,1.0,34901,0.0,860
501518,2025-09-23,GT,Guatemala,AMR,130.0,1254468,0.0,20205
501568,2025-09-23,AR,Argentina,AMR,97.0,10115219,NaN,130790
501574,2025-09-23,CL,Chile,AMR,1.0,5410189,0.0,62875
501583,2025-09-23,CO,Colombia,AMR,159.0,6401281,1.0,142791
501589,2025-09-23,BB,Barbados,AMR,6.0,109082,NaN,593
501591,2025-09-23,BR,Brazil,AMR,7062.0,37837183,9.0,703324
502343,2025-09-27,TH,Thailand,SEAR,653.0,5418524,NaN,34992
502418,2025-09-27,NP,Nepal,SEAR,4.0,1003943,NaN,12034

In [47]:
import os

# Exportar el DataFrame `covid` a CSV en ../data/
data = "../data/"
os.makedirs(data, exist_ok=True)
output_path = os.path.join(data, "covid-19cases.csv")
covid.to_csv(output_path, index=False)
print(f"CSV guardado en: {output_path} ({len(covid)} filas)")

CSV guardado en: ../data/covid-19cases.csv (170999 filas)